$successColor: green;
$errorColor: red;

@mixin colors($color:yellow, $display:none){
  color: $color;
  font-size: 30pt;
  display: $display;
}
#success {
  @include colors($color: $successColor);
}
#error {
  @include colors($color: $errorColor);
}

body {
  text-align: center;
  #header {
    font-size: 40pt;
    color: #0a53be;
    text-decoration: underline;
  }
  form {
    input {
      width: 400px;
      height: 50px;
      font-size: 20px;
    }
    button {
      width: 200px;
      height: 60px;
      font-size: 25px;
      background-color: blue;
      color: white;
    }
  }
}